#Ribbon {
    background-color: aqua;
}

#Menubar {
    background-color: aquamarine;
}

#Navigation {
    background-color: beige;
}

#AddressBar {
    background-color: bisque;
}

#LeftPane {
    background-color: blue;
}

#PictureTasks {
    background-color: blanchedalmond;
}

#FileTasks {
    background-color: brown;
}

#OtherPlaces {
    background-color: blueviolet;
}

#Content {
    background-color: chartreuse;
}

#Viewport {
    background-color: cadetblue;
}

#Reel {
    background-color: burlywood;
}