<!-- Filmstrip View -->
<!-- This should allow for future dynamic view changes -->
<!-- ie Details, List, Thumbnails, Filmstrip, etc., -->

<!-- Action Panel -->

<div id="LeftPane">
    {% for ActionWindow, ActionWindowItems in actions.items() %}
        {% if loop.first %}
        <div id="header_hero"> {{ ActionWindow }}
            <div id="window_hero">
                <div id="PaneText">
                    <br>
                    {% for TasksName, TaskContent in ActionWindowItems.items() %}
                    <img src="assets/gfx/{{ TaskContent[0] }}"><a href="{{ TaskContent[1] }}">{{ TasksName }}<br><br></a>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% else %}
        <div id="header"> {{ ActionWindow }}
            <div id="window">
                <div id="PaneText">
                    <br>
                    {% for TasksName, TaskContent in ActionWindowItems.items() %}
                        <img src="assets/gfx/{{ TaskContent[0] }}"><a href="{{ TaskContent[1] }}">{{ TasksName }}<br><br></a>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}
</div>
