<!-- PicPile Thumbnail List Builder                         -->
<!-- Use Jinja to create a list of thumbnails with titles   -->
<!-- Daisy Universe [D]                                     -->
<!-- 05 . 13 . 25                                           -->

{# Use Jinja comments in here to avoid spamming the built html with looped comments #}

<div id="Content">

    {# Container for the large image preview #}
    <div id="PIC"></div>

    {# Widget for image navigation (Next, Prev, Rotate left, Rotate right) #}
    <div id="WIDGET">
        <img src="assets/gfx/prevPhoto.png" id="prev">
        <img src="assets/gfx/nextPhoto.png" id="next">
        <img src="assets/gfx/seperator.png" >
        <img src="assets/gfx/rotateLeft.png" id="rotateLeft">
        <img src="assets/gfx/rotateRight.png" id="rotateRight">
    </div>

    {# Thumbnail reel (images placed here will be shown as thumbnails) #}
    <div id="REEL">
        {% for e in entries %}
            {% if e.is_dir %}
                {# if looped item is a subfolder, generate a link to a it #}
                <a href="{{ url_for('index', subpath=e.path) }}" class="thumbnail folder">
                    <img src="{{ url_for('assets', filename='gfx/FolderThumbnail.png') }}" width="128" height="128" alt="{{ e.name }}"> <p>{{ e.name }}</p> 
                </a>
            {% else %}
                {# if looped item is an image, generate a thumbnail #}
                <div class="thumbnail">
                    <img src="{{ url_for('pictures', filename=e.path, Thumbnail='Yes') }}" width="128" height="128" alt="{{ e.name }}"> <p>{{ e.label }}</p>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>