<!-- Main content window -->
<div id="Content">

    <!-- Big pic preview -->
    <div id="PIC"></div>

    <!-- The widget (Previous photo, next photo, rotate) controls -->
    <!-- TODO: Make these into functional buttons -->
    <div id="WIDGET">
        <img src="assets/gfx/prevPhoto.png">
        <img src="assets/gfx/nextPhoto.png">
        <img src="assets/gfx/seperator.png">
        <img src="assets/gfx/rotateLeft.png">
        <img src="assets/gfx/rotateRight.png">
    </div>

    <!-- Thumbnail reel (images placed here will be shown as thumbnails) -->
    <div id="REEL">
        {% for e in entries %}
            {% if e.is_dir %}
            <!-- wrap the folder thumbnail in an <a> so navigation is native -->
            <a href="{{ url_for('index', subpath=e.path) }}"
                class="thumbnail folder">
                <!-- absolute URL for the icon so it never resolves to /pictures/... -->
                <img src="{{ url_for('assets', filename='gfx/FolderThumbnail.png') }}"
                    width="100" height="100" alt="folder">
                <p>{{ e.name }}</p>
            </a>
            {% else %}
            <div class="thumbnail">
                <img src="{{ url_for('pictures', filename=e.path, Thumbnail='Yes') }}"
                    width="100" height="100" alt="{{ e.name }}">
                <p>{{ e.label }}</p>
            </div>
            {% endif %}
        {% endfor %}
        </div>
</div>