/* --- Base Menubar Layout --- */

/* This will hopefully be more able to adapt to dynamically generated menubars of arbitrary size */
#Menu {
    position: absolute;
    top: 26px;
    width: 100%;
    height: 22px;
    background-color: #f5f7f9;
    border-bottom: 1px solid #d8d2bd;
    z-index: 1;
    font-size: 14px;
  }
  
  a {
    text-decoration: none;
    color: black;
  }

  .menubar {
    display: flex;
    margin: 0;
    padding: 0 5px;
    list-style: none;
    line-height: 20px;
    height: 22px;
    align-items: center;
  }
  
  .menu-item {
    position: relative;
    padding: 0 6px;
    cursor: default;
    user-select: none;
    white-space: nowrap;
  }
  
  .menu-item:hover {
    background-color: #215dc6;
    color: white;
  }


  
  /* --- Submenus --- */
  .submenu,
  .child-submenu {
    display: none;
    position: absolute;
    background-color: white;
    color: black;
    list-style: none;
    padding: 1px 0;
    margin: 0;
    min-width: 190px;
    border: 1px solid #aca899;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
    z-index: 1000;
  }
  
  .submenu li,
  .child-submenu li {
    padding: 1px 10px 1px 10px;
    white-space: nowrap;

  }
  
  .submenu li:hover,
  .child-submenu li:hover {
    background-color: #215dc6;
    color: white;
  }
  
  .separator {
    background-color: #aca899;
    height: 1px;
  }
  

  /* --- Submenu Show Logic --- */
  .menu-item:hover > .submenu {
    display: block;
    top: 100%;
    left: 0;
  }
  
  .has-child {
    position: relative;
    background-image: url("../gfx/parentMenu.png");
    background-repeat: no-repeat;
    background-position: right center;
  }
  
  .has-child:hover > .child-submenu {
    display: block;
    top: 0;
    left: 100%;
  }

  /* --- little windows logo --- */
  #WINLOGO {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 20px;
    background-color: white;
    border: 1px solid beige;
  }
  
  #WINLOGO img {
    position: absolute;
    left: 12px;
    height: 18px;
  }
  