/* Actions ( Contains everything in the left sidebar ) */

#LeftPane {
    position: absolute;
    background: linear-gradient(to bottom, #8cb3ec, #778ddf);
    height: calc(100% - 112px);
    width: 238px;
    left: 0;
    bottom: 0;
    overflow-x: scroll;
    overflow-y: none;
    scrollbar-width: thin;
}

#header {
    width: 185px;
    margin: 10px;
    
    background-image: url("../../../gfx/taskgradient.png");
    background-repeat: repeat-y;
    background-position-y: 0x;
    background-position-x: 0px;
    background-size: 185px;
    
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    
    font-family: Trebuchet;
    color: #0066cc;
    font-size: 16px;
    line-height: 28px;
    text-indent: 15px;
}

#header_hero {
    width: 185px;
    margin: 10px;
    
    background-image: url("../../../gfx/ptaskgradient.png");
    background-repeat: repeat-y;
    background-position-y: 0x;
    background-position-x: 0px;
    background-size: 185px;
    
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    
    font-family: Trebuchet;
    color: #fff;
    font-size: 16px;
    line-height: 28px;
    text-indent: 15px;
}


/* Task window styling */
#window {
    width: 183px;
    background-color: #d6dff7;
    border: 1px solid white;
    border-top: 0px;
    color: #215dc6;
    text-rendering: optimizeLegibility;
}

#window_hero {
    border: 1px solid white;
    background-color: #f2f5ff;
    background-image: url('../../../gfx/polaroidWatermark.png');
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 60px;
    background-blend-mode: multiply;
}


/* Action tasks item styling */
#PaneText {
    position: relative;
    line-height: 11.1px;
    word-spacing: -3.2px;
    width: 140px;
    left: 35px;
    top: -2px;
}

#PaneText a {
    color: #215dc6;
    text-decoration:-moz-none;
    text-decoration: none;
}

#PaneText a:hover {
    text-decoration: underline;
}

/* the hacky parts are the parts filled with love */
#PaneText img {
    position: absolute;
    left: -25px;
    height: 16px;
    top: var(--item-index) ;
    transform: translateY(-2px);
    overflow: visible;
}