<head>
    <meta charset="UTF-8">
    <!-- Whoops! turns out we need this for mobile to not look fucked up... -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="assets/css/titlebar.css">
    <link rel="stylesheet" type="text/css" href="assets/css/menubar.css">
    <link rel="stylesheet" type="text/css" href="assets/css/navbar.css">
    <link rel="stylesheet" type="text/css" href="assets/css/views/{{ view }}/actions.css">
    <link rel="stylesheet" type="text/css" href="assets/css/views/{{ view }}/content.css">
    <link rel="stylesheet" type="text/css" href="assets/css/views/{{ view }}/mobile.css">
    <link rel="icon" href="assets/gfx/favicon.ico" type="image/x-icon">
</head>