<!-- PicPile                                                    -->
<!-- A recreation of the Windows XP film reel as a flask server -->
<!-- Daisy Universe [D]                                         -->
<!-- 05 . 09 . 25                                               -->

<!-- Much of the page is broken out into components...          -->
<!-- Mostly just to keep things a little more neat...           -->

<!DOCTYPE html>
<html lang="en">
{% include 'header.html' %}

<body>
    <main>
        {% include 'titlebar.html'  %}
        {% include 'menubar.html'   %}
        {% include 'navbar.html'    %}        
        {% include 'actions.html'   %}
        {% include 'content.html'   %}
    </main>
    <script src="assets/js/script.js"></script>
  </body>
</html>