<!-- PicPile                                                    -->
<!-- A recreation of the Windows XP film reel as a flask server -->
<!-- Daisy Universe [D]                                         -->
<!-- 05 . 09 . 25                                               -->

<!-- Much of the page is broken out into components...          -->
<!-- Mostly just to keep things a little more neat...           -->

<!DOCTYPE html>
{% include 'header.html' %}

<body>
    <main>
        {% include 'titlebar.html'  %}
        {% include 'menubar.html'   %}
        {% include 'navbar.html'    %}        
        {% include 'actions.html'   %}
        {% include 'content.html'   %}
    </main>
    <script src="assets/js/script.js"></script>
  </body>
</html>

<!--
The window is built like this:

╭──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────╮  ╮                  ┏━━━━━━━━━━━━━━━┓
│  Window Decoration                                                                                             _ ▢ x ┃▒ ┣━━━━━━━━━━━━━━━━━━┫ TITLEBAR.HTML ┃░    
╞══════════════════════════════════════════════════════════════════════════════════════════════════════════════════╦═══╡▒ ╮                  ┗━━━━━━━━━━━━━━━┛▒    ┏━━━━━━━━━━━━━━┓
│  File   Edit   View   Favorite   Tool   Help                                                                     ║ ⊞ ┃▒ ┣━━━━━━━━━━━━━━━━┅┅┅┅░▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒┅┅━━┫ MENUBAR.HTML ┃░
╞══════════════════════════════════════════════════════════════════════════════════════════════════════════════════╩═══╡▒ ╯                                        ┗━━━━━━━━━━━━━━┛▒
│                                                                                                                      ┃▒ ╮                       ┏━━━━━━━━━━━━━┓   ░▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒
│  ◯ Back ▾ ◍ ▾ ^ | ◯ Search ◯ Folders | ◯ ▾                                                                           ┃▒ ┣━━━━━━━━━━━━━━━━━━━━━━━┫ NAVBAR.HTML ┃░
│                                                                                                                      ┃▒ ┃                       ┗━━━━━━━━━━━━━┛▒
╞═══════════╦════════════════════════════════════════════════════════════════════════════════════════════════╦═════════╡▒ ┃                        ░▒▒▒▒▒▒▒▒▒▒▒▒▒▒
│  Address  ║ https://pics.universe.dog/subfolder                                                          █ ║  ➡ Go   ┃▒ ┃                      
╞═══════════╩═════════╦══════════════════════════════════════════════════════════════════════════════════════╩═════════╡▒ ╯
│  Action             ║ ╮                                                                                              ┃▒ ╮
│  Pane               ║ ┆                              ┌─────────────────────────────┐                                 ┃▒ ┃
│                     ║ ┆                              │                             │                                 ┃▒ ┃
│                     ║ ┆                              │                             │                                 ┃▒ ┃
│                     ║ ┆                              │                             │                                 ┃▒ ┃                ┏━━━━━━━━━━━━━━┓
│                     ║ ┝ ┅ ┅ ┅ ┅ ┅ ┅ ┅ ┅ ┅ ┅ ┅ ┅ ┅ ┅ ┅ ┅ ┅ ┅ ┅ ┅ ┅ ┅ ┅ ┅ ┅ ┅ ┅ ┅ ┅ ┅ ┅ ┅ ┅ ┅ ┅ ┅ ┅ ┅ ┅ ┅ ┅ ┅ ┅ ┅ ┅ ┅ ┅┃▒┅┃ ┅ ┅ ┅ ┅ ┅ ┅ ┅ ┅┫ ACTIONS.HTML ┃░
│                     ║ ┆                              │                             │                                 ┃▒ ┃                ┗━━━━━━━━━━━━━━┛▒
│                     ║ ┆                              │                             │                                 ┃▒ ┃                 ░▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒
│                     ║ ┆                              │                             │                                 ┃▒ ┃
│                     ║ ┆                              │                             │                                 ┃▒ ┃
│                     ║ ┆                              │                             │                                 ┃▒ ┃
│                     ║ ┆                              │                             │                                 ┃▒ ┃
│                     ║ ┆                              │                             │                                 ┃▒ ┃                            ┏━━━━━━━━━━━━━━┓
│                     ║ ┆                              │                             │                                 ┃▒ ┣━━━━━━━━━━━━━━━━━━━━━━━━━━━━┫ CONTENT.HTML ┃░
│                     ║ ┆                              │                             │                                 ┃▒ ┃                            ┗━━━━━━━━━━━━━━┛▒
│                     ║ ┆                              │                             │                                 ┃▒ ┃                             ░▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒
│                     ║ ┆                              └─────────────────────────────┘                                 ┃▒ ┃
│                     ║ ┆                                                                                              ┃▒ ┃
│                     ║ ┆                                       [< > | J L]                                            ┃▒ ┃
│                     ╠═┆══════════════════════════════════════════════════════════════════════════════════════════════╡▒ ┃
│                     ║ ┆   ┌───────────┐  ┌───────────┐                                                               ┃▒ ┃
│                     ║ ┆   │           │  │           │                                                               ┃▒ ┃
│                     ║ ┆   │           │  │           │                                                               ┃▒ ┃
│                     ║ ┆   │           │  │           │                                             Thumbnails        ┃▒ ┃
│                     ║ ┆   │           │  │           │                                                               ┃▒ ┃
│                     ║ ┆   └───────────┘  └───────────┘                                                               ┃▒ ┃
│                     ║ ╯     bliss.jpg      coom.jpg                                                                  ┃▒ ┃
└─━━━━━━━━━━━━━━━━━━━━╨━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛▒ ╯
 ░▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒


-->