<!-- PicPile Menubar Generator -->
<!-- Generates a functional menubar from a json structure -->
<!-- Daisy Universe [D] -->
<!-- 05 . 12 . 25 -->

<nav id="Menu">
    
    <ul class="menubar">
        <!-- Loop though top level key:value pairs to build the list -->
        {% for MenuItem, SubMenu in menubar.items() %} 
        
        <li class="menu-item">{{ MenuItem }}
            
            <ul class="submenu">
                <!-- Loop through Sub Menu items to create 1st level dropdowns -->
                {% for SubMenuItemName, SubMenuItemValue in SubMenu.items() %}
                    
                    <!-- Special case for seperators -->
                    {% if SubMenuItemName.startswith("Seperator") %} <li class="separator"></li> {% else %}
                        
                        <!-- Try to check if a Sub Menu has children, if it does, generate more list items -->
                        {% if SubMenuItemValue is mapping %}
                            
                                <li class="has-child">{{ SubMenuItemName }}
                                <ul class="child-submenu">
                            
                            {% for ChildSubMenuItemName, ChildSubMenuItemValue in SubMenuItemValue.items()  %}
                                
                                {% if ChildSubMenuItemName.startswith("Seperator") %} <li class="separator"></li> {% else %}
                                <li><a href="{{ ChildSubMenuItemValue or '#' }}">{{ ChildSubMenuItemName }}</a></li>
                                {% endif %}

                            {% endfor %}
                            
                            </ul>
                            
                        {% else %}
                            
                            <li><a href="{{ SubMenuItemValue or '#' }}">{{ SubMenuItemName }}</a></li>
                            
                        {% endif %}
                    
                    {% endif %}
        
                {% endfor %}
            
            </ul>
        
        </li>
        
        {% endfor %}
    
    </ul>

    <div id="WINLOGO">
      <img src="assets/gfx/winLogo.png" alt="Windows Logo">
    </div>

  </nav>
  