<!-- All of the menubar items -->
<!-- TODO: Build this structure from a JSON file so it can be customized -->
<div id="MENU"> 
    <div class="MENU_BUTTONS">
        <div id="M1">File
            <div id="Submenu" class="SubM1">
                <div id="SubM1_1">New</div>
                <div id="SubM_Seperator"></div>
                <div id="SubM1_2">Create Shortcut</div>
                <div id="SubM1_3">Delete</div>
                <div id="SubM1_4">Rename</div>
                <div id="SubM1_5">Properties</div>
                <div id="SubM_Seperator"></div>
                <div id="SubM1_6">Close</div>
            </div>
        </div>

        <div id="M2">Edit
            <div id="Submenu" class="SubM2">
                <div id="SubM2_1">Undo Delete</div>
                <div id="SubM_Seperator"></div>
                <div id="SubM2_2">Cut</div>
                <div id="SubM2_3">Copy</div>
                <div id="SubM2_4">Paste</div>
                <div id="SubM2_5">Paste Shortcut</div>
                <div id="SubM_Seperator"></div>
                <div id="SubM2_6">Copy to Folder...</div>
                <div id="SubM2_7">Move to Folder...</div>
                <div id="SubM_Seperator"></div>
                <div id="SubM2_8">Select All</div>
                <div id="SubM2_9">Invert Selection</div>
            </div>
        </div>
        <div id="M3">View
            <div id="Submenu" class="SubM3">
                <div id="SubM3_1">Toolbars</div>
                <div id="SubM3_2">Status Bar</div>
                <div id="SubM3_3">Explorer Bar</div>
                <div id="SubM_Seperator"></div>
                <div id="SubM3_4">Filmstrip</div>
                <div id="SubM3_5">Thumbnails</div>
                <div id="SubM3_6">Tiles</div>
                <div id="SubM3_7">Icons</div>
                <div id="SubM3_8">List</div>
                <div id="SubM3_9">Details</div>
                <div id="SubM_Seperator"></div>
                <div id="SubM3_10" class="Parent">Arrange Icons by
                    <div id="Submenu" class="Child">
                        <div id="SubM3SubM1_1">Name</div>
                        <div id="SubM3SubM1_2">Size</div>
                        <div id="SubM3SubM1_3">Type</div>
                        <div id="SubM3SubM1_4">Modified</div>
                        <div id="SubM3SubM1_6">Picture Taken On</div>
                        <div id="SubM3SubM1_7">Dimensions</div>
                        <div id="SubM_Seperator"></div>
                        <div id="SubM3SubM1_8">Show in Groups</div>
                        <div id="SubM3SubM1_9">Auto Arrange</div>
                        <div id="SubM3SubM1_10">Align to Grid</div>
                    </div>
                </div>
                <div id="SubM_Seperator"></div>
                <div id="SubM3_11">Choose Details...</div>
                <div id="SubM3_12">Customize This Folder...</div>
                <div id="SubM_Seperator"></div>
                <div id="SubM3_13">Go To</div>
                <div id="SubM3_14">Refresh</div>
            </div>
        </div>
        <div id="M4">Favorites
            <div id="Submenu" class="SubM4">
                <div id="SubM4_1">Add to Favorites...</div>
                <div id="SubM4_1">Orginize Favorites...</div>
                <div id="SubM_Seperator"></div>
                <div id="SubM4_1" class="Parent">Friends Websites
                    <div id="Submenu" class="Child">
                        <div id="SubM4SubM1_1"><a href="https://slitherpunk.itch.io/">Autumn Rain</a></div>
                        <div id="SubM4SubM1_1"><a href="https://deerz.one/">IDA DEERZ</a></div>
                        <div id="SubM4SubM1_1"><a href="https://toastietv.straw.page/">ToastieTV</a></div>
                        <div id="SubM4SubM1_1"><a href="https://poss.gay/">DIDELPHIDRAGON</a></div>
                        <div id="SubM4SubM1_1"><a href="https://wunkolo.github.io/">Wunk</a></div>
                    </div>
                </div>
                <div id="SubM4_1" class="Parent">Daisies Websites
                    <div id="Submenu" class="Child">
                        <div id="SubM4SubM1_1"><a href="https://daisy.universe.dog/">Main Website</a></div>
                        <div id="SubM4SubM1_1"><a href="https://tech.universe.dog/">Tech Blog</a></div>
                        <div id="SubM4SubM1_1"><a href="https://desna.universe.dog/">Desna Prime</a></div>
                        <div id="SubM4SubM1_1"><a href="https://blog.universe.dog/">Personal Blog</a></div>
                        <div id="SubM4SubM1_1"><a href="https://chat.universe.dog/">Nebula IRC Chat</a></div> 
                        <div id="SubM4SubM1_1"><a href="https://bsky.app/profile/daisy.universe.dog">Bluesky</a></div>
                        <div id="SubM4SubM1_1"><a href="https://github.com/daisyUniverse">Github</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="M5">Tools
            <div id="Submenu" class="SubM5">
                <div id="SubM5_1">Map Network Drive...</div>
                <div id="SubM5_1">Disconnect Network Drive...</div>
                <div id="SubM5_1">Synchronize...</div>
                <div id="SubM_Seperator"></div>
                <div id="SubM5_1">Folder Options...</div>
            </div>
        </div>
        <div id="M6">Help
            <div id="Submenu" class="SubM6">
                <div id="SubM6_1">Help and Support Center</div>
                <div id="SubM_Seperator"></div>
                <div id="SubM6_2"><a href="https://youtu.be/LZgeIReY04c">Is this copy of Windows legal?</a></div>
                <div id="SubM6_3"><a href="https://github.com/daisyUniverse/picpile">About PicPile</a></div>
            </div>
        </div>
    </div>
    <!-- Little windows flag box in the corner of the window -->
    <!-- TODO: Animate this -->
    <div id="WINLOGO">
        <img src="assets/gfx/winLogo.png">
    </div> 
</div>

