<!-- Navbar stuff (back, forward, etc) -->
<div id="NAV">
    <img id="BACK_BUTTON" src="gfx/backButton.png" > 
    <div id="BACK">Back</div>
    <img id="DT1" src="gfx/downtick.png" > 
    <img id="FORWARD_BUTTON" src="gfx/fwdButton.png" > 
    <img id="DT2" src="gfx/downtick.png" > 
    <img id="UP_BUTTON" src="gfx/up.png" > 
    <div id="SEP1"></div>
    <img id="SEARCH_BUTTON" src="gfx/searchButton.png" > 
    <div id="SEARCH">Search</div>
    <img id="FOLDERS_BUTTON" src="gfx/folderButton.png" > 
    <div id="FOLDERS">Folders</div>
    <div id="SEP2"></div>
    <img id="VIEW_BUTTON" src="gfx/view.png" > 
    <img id="DT3" src="gfx/downtick.png" > 
</div>

<!-- Address bar -->
<div id="ADDR">
         Address 
         <div id="TEXTBOX"> 
            <img class="shadow" src="gfx/folder16.ico" width="16" height="16"> {{ current_url }} <div id="ADDR_DROP"></div></div> 
         <div id="GO"><img src="gfx/go.ico">Go</div> 
    </div>
</div>
