<!-- Navbar stuff (back, forward, etc) -->
<!-- TODO: Actually make these into functional file navigation buttons -->
<div id="NAV">
    <img id="BACK_BUTTON" src="assets/gfx/backButton.png" > 
    <div id="BACK">Back</div>
    <img id="DT1" src="assets/gfx/downtick.png" > 
    <img id="FORWARD_BUTTON" src="assets/gfx/fwdButton.png" > 
    <img id="DT2" src="assets/gfx/downtick.png" > 
    <img id="UP_BUTTON" src="assets/gfx/up.png" > 
    <div id="SEP1"></div>
    <img id="SEARCH_BUTTON" src="assets/gfx/searchButton.png" > 
    <div id="SEARCH">Search</div>
    <img id="FOLDERS_BUTTON" src="assets/gfx/folderButton.png" > 
    <div id="FOLDERS">Folders</div>
    <div id="SEP2"></div>
    <img id="VIEW_BUTTON" src="assets/gfx/view.png" > 
    <img id="DT3" src="assets/gfx/downtick.png" > 
</div>

<!-- Address bar -->
<!-- TODO: Make this into an editable textbox to allow for site nav and easter eggs -->
<div id="ADDR">
         Address 
         <div id="TEXTBOX"> 
            <img class="shadow" src="assets/gfx/folder16.ico" width="16" height="16"> {{ current_url }} <div id="ADDR_DROP"></div></div> 
         <div id="GO"><img src="assets/gfx/go.ico">Go</div> 
    </div>
</div>
